.userMiniCardAdminView {
  background-color: rgb(43, 42, 41);
  width: 100%;
  max-width: 42rem;
  color: white;
  border-radius: 6rem;
  padding: 2rem;

  img {
    border-radius: 50%;
    width: 100px;
    aspect-ratio: 1/1;
  }

  button {
    width: 14ch;
  }

  p {
    color: white;
    text-align: left;
  }
}

@media screen and (max-width: 640px) {
  .AdminUserImg {
    width: 30%;
  }
  .AdminUserStats {
    width: 70%;
  }
  .AdminUserButton {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .userMiniCardAdminView {
    padding: 1rem;
    border-radius: 3rem;

    img {
      width: 75px;
    }
  }
} 