@use "../../../../../public/stylesheets/variables.scss" as *;

.AllPostsScss{
  gap: 3.33% !important;
  
}

@media (width <= 410px) {
	.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
	}

  .botontrade {
    width: 80% !important;
  }
}