@import "../../../public/stylesheets/variables.scss";


.modalDel {
  &,
  &.modal-dialog,
  &.modal-content,
  &.modal-header,
  &.modal-body,
  &.modal-footer {
    background-color: $accent2-color;
    border-color: $accent2-color;
       color:#9C9999; 
  }
}

