@use "../../../../../public/stylesheets/variables.scss" as *;

.ascendio-graphic-containerPrincipal {
  @include display-flex(column, center, center);
  min-width: 50%;

  .tradingview-widget-container {
    width: 80%;
     aspect-ratio: 2/1;
    @include display-flex(column, center, center);
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
}

div.tradingview-widget-copyright {
  display: none;
}

//RESPONSIVE PORTATIL / PC PEQUEÑO // HECHO
@media (min-width: 992px) And (max-width: 1200px) {
  .ascendio-graphic-containerPrincipal {
    @include display-flex(column, center, center);
    min-width: 80%;

    .tradingview-widget-container {
      width: 80%;
      aspect-ratio: none;
      @include display-flex(column, center, center);
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }
  }
}

// PC PEQUEÑO TABLET GRANDE / breackproints MD //HECHO
@media (min-width: 768px) And (max-width: 992px) {
  .ascendio-graphic-containerPrincipal {
    @include display-flex(column, center, center);
    min-width: 80%;

    .tradingview-widget-container {
      width: 80%;
      aspect-ratio: 2/1;
      @include display-flex(column, center, center);
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }
  }

  div.tradingview-widget-copyright {
    display: none;
  }
}

//RESPONSIVE tablet pequeña // HECHO
@media (min-width: 576px) and (max-width: 768px) {
  .ascendio-graphic-containerPrincipal {
    @include display-flex(column, center, center);
    min-width: 80%;

    .tradingview-widget-container {
      width: 80%;
      aspect-ratio: 2/1;
      @include display-flex(column, center, center);
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }
  }

  div.tradingview-widget-copyright {
    display: none;
  }
}

//RESPONSIVE MOVIL // HECHO
@media (max-width: 576px) {
  .ascendio-graphic-containerPrincipal {
    @include display-flex(column, center, center);
    min-width: 80%;

    .tradingview-widget-container {
      width: 80%;
      aspect-ratio: 2/1;
      @include display-flex(column, center, center);
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }
  }

  div.tradingview-widget-copyright {
    display: none;
  }
}
