@use "../../../../public/stylesheets/variables.scss" as *;
.ShowAllUserPaddings2-10{
  padding: 2vw 10vw;


.cards-showuser {
  background-color: rgb(43, 42, 41);
  width: 100%;
  max-width: 42rem;
  color: white;
  border-radius: 6rem;
  padding: 2rem;
  min-width: 320px;

  img {
    border-radius: 50%;
    width: 100px;
    aspect-ratio: 1/1;
  }

  button {
    width: 14ch;
  }

  p {
    color: white;
    text-align: left;
  }
}



@media screen and (max-width: 500px) {
  .showallusers {
    padding: 1rem;
    border-radius: 3rem;

    img {
      width: 75px;
    }
  }
}

@media screen and (max-width: 640px) {
  .AdminUserImg {
    width: 30%;
  }
  .AdminUserStats {
    width: 70%;
  }
  .AdminUserButton {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 660px) {
  .DivBotonesShowAllUsers {
    flex-direction: row !important;
    margin-left: 8rem;
  }
}

@media screen and (max-width: 450px) {
  .DivBotonesShowAllUsers {
    flex-direction: row !important;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .DivBotonesShowAllUsers {
    flex-direction: row !important;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .cards-showuser {
    max-width: 29rem;
    img {
      width: 75px;
      aspect-ratio: 1/1;
    }
  }
}




@media screen and (min-width: 600px) {
  .input-container {
    span {
      margin: 0 !important; 
      padding: 0 !important;    
    }
      
      .buscador {
        height: 36px;
      transition: 0.1s;
      &:focus{
        border: 0.25rem solid $accent-color !important;
      }
      }
    }
}

@media screen and (min-width: 1200px) {
  .BuscadorShowAllUsers {
    margin-left: 25rem !important;
    transition: 0.5s;
  }
}

@media screen and (max-width: 945px) {
  span {
    padding-bottom: 1rem !important;
  }
}

@media screen and (max-width: 1200px) {
  .BuscadorShowAllUsers {
    transition: 0.5s;
  }
}

@media screen and (max-width: 682px) {
  .RowShowAllUsersHeader {
    flex-direction: column;
    text-align: center !important;
  }
}
}



