@import "../../../public/stylesheets/variables.scss";

.adminAllCourses{
  width: 80vw;
  margin: 0 auto; 
}

.cardtitle{
  color:white !important;
}

.descriptioncard{
  font-size: 1rem;
  color: #9C9999 !important;
}