.CreateGeneralPostUser {

  .BotonFoto{  
    width: 20px;
    height: 20px;
  }
  .CreateGeneralPostH2AscendioColor {
    color: #E15252;
  }

  .ButtonsCreateTradeSpacing {
    margin-right: 1rem !important;
  }
  
  .ButtonImgCreateTradeInput {
    width: 90.45px;
    padding: 6px 35px !important;
    margin-top: 2rem !important;
    margin-bottom: 1.5rem !important;
  }

  .ButtonAcceptCancelCreateTrade {
    width: 13ch;
  }
}

