.FormularioNewPAssword{
  button{
    margin-bottom: 1rem !important;
  }
}

.EmailChangingMsg {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left: 0.5rem !important;
  color: #39A72F !important;
}

.EditUserMsgSuccessResetPassword {
  color: #39A72F !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left: 0.5rem !important;
  
}

.EditUserMsgFailureResetPassword {
  color: #E8003F !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left: 0.5rem !important;
}

