.TradeDiv {
  background-color: rgb(43, 42, 41);
  border-radius: 2rem;
  padding: 2rem;
  

  img {
    width: 75px;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }

  p {
    color: #e15252;
  }
}