@use "../../../../public/stylesheets/variables.scss" as *;

// PC MUY GRANDE / breakpoints XXL / MI PANTALLA GRNADE
.ascendio-landing-main-padre {
  //min-height: calc(200vh - 62px);
  //height: calc(200vh - 48px);
  height: auto;
  min-height: calc(200vh - 62px);
  .ascendio-landing-main-hijo-1 {
    height: 50%;
    @include display-flex(column, center, center);
    //min-height: calc(100vh - 48px);
    //height: calc(100vh - 48px);
    //@include display-flex(column, center, center);

    .ascendio-landing-main-hijo1-nieto {
      height: 50%;
      @include display-flex(column, center, center);
      padding: 0 !important;

      .ascendio-landing-fondo-principal1 {
        object-fit: contain;
        padding: 0 !important;
        overflow: hidden;
        max-width: 100%;
      }

      .ascendio-landing-fondo-principal2 {
        width: 50%;
        object-fit: contain;
        padding: 0 !important;
      }
    }
  }

  .ascendio-landing-main-hijo-2 {
    //height: calc(100vh - 24px);
    height: auto;
    max-height: 50%;

    .ascendio-landing-main-hijo2-nieto {
      @include display-flex(row, center, center);
      padding: 0 !important;

      .ascendio-landing-main-hijo2-nieto-bisnieto {
        @include display-flex(row, center, flex-start);
        flex-wrap: wrap;
        padding: 0;
        margin: 0 !important;

        .ascendio-landing-main-hijo2-nieto-bisnieto-tataranieto {
          @include display-flex(column, center, center);
          padding: 0 !important;
          margin-bottom: 2rem;

          img {
            width: 100px;
            height: 100px;
            background-color: transparent;
            border-radius: 50%;
          }

          h6 {
            font-size: 2rem;
            padding: 0 !important;
            margin: 0 !important;
          }

          p {
            font-size: 1rem;
            color: $accent3-color;
            padding: 0 !important;
            margin: 0 !important;
          }
        }
      }
    }
  }
}

.ascendio-landing-footer-padre {
  @include display-flex(row, flex-start, center);
  color: $accent3-color;
  background-color: $accent-color;
  padding: 0 5vw !important;

  .ascendio-landing-footer-padre-hijo {
    padding: 0 !important;

    h3 {
      font-size: 16px;
      margin: 0 !important;
      padding: 0 !important;
    }
    p {
      font-size: 16px;
      @include display-flex(row, center, center);
      margin: 0 !important;
      padding: 0 !important;
    }
    .ascendio-landing-footer-link {
      font-size: 12px;
      text-decoration: none;
      color: $accent3-color;
      @include display-flex(row, center, center);
      padding: 0 !important;
    }
    .ascendio-landing-footer-link:hover {
      text-decoration: none;
      color: $accent2-color;
      @include display-flex(row, center, center);
    }
  }
}

// PC GRANDE / breakpoints XL / MI PORTATIL
@media (min-width: 1200px) and (max-width: 1400px) {
  .ascendio-landing-main-padre {
    height: auto;
    min-height: calc(200vh - 62px);
    .ascendio-landing-main-hijo-1 {
      height: 50%;
      @include display-flex(column, center, center);

      .ascendio-landing-main-hijo1-nieto {
        height: 50%;
        @include display-flex(column, center, center);
        padding: 0 !important;

        .ascendio-landing-fondo-principal1 {
          object-fit: contain;
          padding: 0 !important;
          overflow: hidden;
          max-width: 100%;
        }

        .ascendio-landing-fondo-principal2 {
          width: 70%;
          object-fit: contain;
          padding: 0 !important;
        }
      }
    }

    .ascendio-landing-main-hijo-2 {
      height: auto;
      max-height: 50%;

      .ascendio-landing-main-hijo2-nieto {
        @include display-flex(row, center, center);
        padding: 0 !important;

        .ascendio-landing-main-hijo2-nieto-bisnieto {
          @include display-flex(row, center, flex-start);
          flex-wrap: wrap;
          padding: 0 2rem 0 2rem;
          margin: 0 !important;

          .ascendio-landing-main-hijo2-nieto-bisnieto-tataranieto {
            @include display-flex(column, center, center);
            padding: 0 !important;
            margin-bottom: 2rem;

            img {
              width: 100px;
              height: 100px;
              background-color: transparent;
              border-radius: 50%;
            }

            h6 {
              font-size: 1.5rem;
              padding: 0 !important;
              margin: 0 !important;
            }

            p {
              text-align: center;
              font-size: 1.2rem;
              color: $accent3-color;
              padding: 0 !important;
              margin: 0 !important;
            }
          }
        }
      }
    }
  }

  .ascendio-landing-footer-padre {
    @include display-flex(row, flex-start, center);
    color: $accent3-color;
    background-color: $accent-color;
    padding: 0 5vw !important;

    .ascendio-landing-footer-padre-hijo {
      padding: 0 !important;

      h3 {
        font-size: 0.5rem;
        margin: 0 !important;
        padding: 0 !important;
      }
      p {
        font-size: 0.5rem;
        @include display-flex(row, center, center);
        margin: 0 !important;
        padding: 0 !important;
      }
      .ascendio-landing-footer-link {
        font-size: 0.5rem;
        text-decoration: none;
        color: $accent3-color;
        @include display-flex(row, center, center);
        padding: 0 !important;
      }
      .ascendio-landing-footer-link:hover {
        text-decoration: none;
        color: $accent2-color;
        @include display-flex(row, center, center);
      }
    }
  }
}

// PC MEDIANO / breakpoints LG // HECHO
@media (min-width: 992px) And (max-width: 1200px) {
  .ascendio-landing-main-padre {
    height: auto;
    min-height: calc(100vh - 62px);

    .ascendio-landing-main-hijo-1 {
      height: auto;
      max-height: 50%;
      @include display-flex(column, center, center);

      .ascendio-landing-main-hijo1-nieto {
        height: auto;
        max-height: 50%;
        @include display-flex(column, center, center);
        padding: 0 !important;

        .ascendio-landing-fondo-principal1 {
          object-fit: contain;
          padding: 0 !important;
          overflow: hidden;
        }

        .ascendio-landing-fondo-principal2 {
          width: 80%;
          object-fit: contain;
          padding: 0 !important;
        }
      }
    }

    .ascendio-landing-main-hijo-2 {
      height: auto;
      max-height: 50%;
      .ascendio-landing-main-hijo2-nieto {
        @include display-flex(row, center, center);
        padding: 0 !important;

        .ascendio-landing-main-hijo2-nieto-bisnieto {
          @include display-flex(row, center, flex-start);
          flex-wrap: wrap;
          padding: 0 2rem 0 2rem;
          margin: 0 !important;

          .ascendio-landing-main-hijo2-nieto-bisnieto-tataranieto {
            @include display-flex(column, center, center);
            padding: 0 !important;
            margin-bottom: 2rem;

            img {
              width: 50px;
              height: 50px;
              background-color: transparent;
              border-radius: 50%;
            }

            h6 {
              font-size: 1.7rem;
              padding: 0 !important;
              margin: 0 !important;
            }

            p {
              font-size: 1.2rem;
              color: $accent3-color;
              padding: 0 !important;
              margin: 0 !important;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .ascendio-landing-footer-padre {
    @include display-flex(row, flex-start, center);
    color: $accent3-color;
    background-color: $accent-color;
    padding: 0 5vw !important;

    .ascendio-landing-footer-padre-hijo {
      padding: 0 !important;

      h3 {
        font-size: 0.5rem;
        margin: 0 !important;
        padding: 0 !important;
      }
      p {
        font-size: 0.5rem;
        @include display-flex(row, center, center);
        margin: 0 !important;
        padding: 0 !important;
      }
      .ascendio-landing-footer-link {
        font-size: 0.5rem;
        text-decoration: none;
        color: $accent3-color;
        @include display-flex(row, center, center);
        padding: 0 !important;
      }
      .ascendio-landing-footer-link:hover {
        text-decoration: none;
        color: $accent2-color;
        @include display-flex(row, center, center);
      }
    }
  }
}

// PC PEQUEÑO TABLET GRANDE / breackproints MD // HECHO
@media (min-width: 768px) and (max-width: 992px) {
  .ascendio-landing-main-padre {
    height: auto;
    min-height: calc(100vh - 62px);

    .ascendio-landing-main-hijo-1 {
      height: auto;
      max-height: 50%;
      @include display-flex(column, center, center);

      .ascendio-landing-main-hijo1-nieto {
        height: auto;
        max-height: 50%;
        @include display-flex(column, center, center);
        padding: 0 !important;

        .ascendio-landing-fondo-principal1 {
          object-fit: contain;
          padding: 0 !important;
          overflow: hidden;
        }

        .ascendio-landing-fondo-principal2 {
          width: 80%;
          object-fit: contain;
          padding: 0 !important;
        }
      }
    }

    .ascendio-landing-main-hijo-2 {
      height: 50%;
      .ascendio-landing-main-hijo2-nieto {
        @include display-flex(row, center, center);
        padding: 0 !important;

        .ascendio-landing-main-hijo2-nieto-bisnieto {
          @include display-flex(row, center, flex-start);
          flex-wrap: wrap;
          padding: 0 2rem 0 2rem;
          margin: 0 !important;

          .ascendio-landing-main-hijo2-nieto-bisnieto-tataranieto {
            @include display-flex(column, center, center);
            padding: 0 !important;
            margin-bottom: 2rem;

            img {
              width: 75px;
              height: 75px;
              background-color: transparent;
              border-radius: 50%;
            }

            h6 {
              font-size: 1.5rem;
              padding: 0 !important;
              margin: 0 !important;
            }

            p {
              font-size: 1rem;
              color: $accent3-color;
              padding: 0 !important;
              margin: 0 !important;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .ascendio-landing-footer-padre {
    @include display-flex(row, flex-start, center);
    color: $accent3-color;
    background-color: $accent-color;
    padding: 0 5vw !important;

    .ascendio-landing-footer-padre-hijo {
      padding: 0 !important;

      h3 {
        font-size: 0.5rem;
        margin: 0 !important;
        padding: 0 !important;
      }
      p {
        font-size: 0.5rem;
        @include display-flex(row, center, center);
        margin: 0 !important;
        padding: 0 !important;
      }
      .ascendio-landing-footer-link {
        font-size: 0.5rem;
        text-decoration: none;
        color: $accent3-color;
        @include display-flex(row, center, center);
        padding: 0 !important;
      }
      .ascendio-landing-footer-link:hover {
        text-decoration: none;
        color: $accent2-color;
        @include display-flex(row, center, center);
      }
    }
  }
}

//RESPONSIVE TABLET PEQUEÑA / breackproints SM  //HECHo
@media (min-width: 576px) and (max-width: 768px) {
  .ascendio-landing-main-padre {
    height: auto;
    min-height: calc(100vh - 62px);

    .ascendio-landing-main-hijo-1 {
      height: auto;
      max-height: 50%;
      @include display-flex(column, center, center);

      .ascendio-landing-main-hijo1-nieto {
        height: auto;
        max-height: 50%;
        @include display-flex(column, center, center);
        padding: 0 !important;

        .ascendio-landing-fondo-principal1 {
          object-fit: contain;
          padding: 0 !important;
          overflow: hidden;
        }

        .ascendio-landing-fondo-principal2 {
          width: 100%;
          object-fit: contain;
          padding: 0 !important;
        }
      }
    }

    .ascendio-landing-main-hijo-2 {
      height: auto;
      max-height: 50%;
      .ascendio-landing-main-hijo2-nieto {
        @include display-flex(row, center, center);
        padding: 0 !important;

        .ascendio-landing-main-hijo2-nieto-bisnieto {
          @include display-flex(row, center, flex-start);
          flex-wrap: wrap;
          padding: 0;
          margin: 0 !important;

          .ascendio-landing-main-hijo2-nieto-bisnieto-tataranieto {
            @include display-flex(column, center, center);
            padding: 0 !important;
            margin-bottom: 2rem;

            img {
              width: 50px;
              height: 50px;
              background-color: transparent;
              border-radius: 50%;
            }

            h6 {
              font-size: 1.5rem;
              padding: 0 !important;
              margin: 0 !important;
            }

            p {
              font-size: 1rem;
              color: $accent3-color;
              padding: 0 !important;
              margin: 0 !important;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .ascendio-landing-footer-padre {
    @include display-flex(row, flex-start, center);
    color: $accent3-color;
    background-color: $accent-color;
    padding: 0 5vw !important;

    .ascendio-landing-footer-padre-hijo {
      padding: 0 !important;

      h3 {
        font-size: 0.5rem;
        margin: 0 !important;
        padding: 0 !important;
      }
      p {
        font-size: 0.5rem;
        @include display-flex(row, center, center);
        margin: 0 !important;
        padding: 0 !important;
      }
      .ascendio-landing-footer-link {
        font-size: 0.5rem;
        text-decoration: none;
        color: $accent3-color;
        @include display-flex(row, center, center);
        padding: 0 !important;
      }
      .ascendio-landing-footer-link:hover {
        text-decoration: none;
        color: $accent2-color;
        @include display-flex(row, center, center);
      }
    }
  }
}

//RESPOSINVE MOVIL / breakpoints xs //HECHO
@media (max-width: 576px) {
  .ascendio-landing-main-padre {
    height: auto;
    min-height: calc(100vh - 62px);

    .ascendio-landing-main-hijo-1 {
      height: auto;
      max-height: 50%;
      @include display-flex(column, center, center);

      .ascendio-landing-main-hijo1-nieto {
        height: auto;
        max-height: 50%;
        @include display-flex(column, center, center);
        padding: 0 !important;

        .ascendio-landing-fondo-principal1 {
          object-fit: contain;
          padding: 0 !important;
          overflow: hidden;
        }

        .ascendio-landing-fondo-principal2 {
          width: 100%;
          object-fit: contain;
          padding: 0 !important;
        }
      }
    }

    .ascendio-landing-main-hijo-2 {
      height: auto;
      max-height: 50%;
      .ascendio-landing-main-hijo2-nieto {
        @include display-flex(row, center, center);
        padding: 0 !important;

        .ascendio-landing-main-hijo2-nieto-bisnieto {
          @include display-flex(row, center, flex-start);
          flex-wrap: wrap;
          padding: 0;
          margin: 0 !important;

          .ascendio-landing-main-hijo2-nieto-bisnieto-tataranieto {
            @include display-flex(column, center, center);
            padding: 0 !important;
            margin-bottom: 2rem;

            img {
              width: 50px;
              height: 50px;
              background-color: transparent;
              border-radius: 50%;
            }

            h6 {
              font-size: 01.5rem;
              padding: 0 !important;
              margin: 0 !important;
            }

            p {
              font-size: 1rem;
              color: $accent3-color;
              padding: 0 !important;
              margin: 0 !important;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .ascendio-landing-footer-padre {
    @include display-flex(row, flex-start, center);
    color: $accent3-color;
    background-color: $accent-color;
    padding: 0 5vw !important;

    .ascendio-landing-footer-padre-hijo {
      padding: 0 !important;

      h3 {
        font-size: 0.5rem;
        margin: 0 !important;
        padding: 0 !important;
      }
      p {
        font-size: 0.5rem;
        @include display-flex(row, center, center);
        margin: 0 !important;
        padding: 0 !important;
      }
      .ascendio-landing-footer-link {
        font-size: 0.5rem;
        text-decoration: none;
        color: $accent3-color;
        @include display-flex(row, center, center);
        padding: 0 !important;
      }
      .ascendio-landing-footer-link:hover {
        text-decoration: none;
        color: $accent2-color;
        @include display-flex(row, center, center);
      }
    }
  }
}
